header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .leftside {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  gap: 5px;
}
header .special-t {
  background-color: #458ff6;
  border-radius: 100%;
  padding: 3px 6px;
  color: #fff;
}
header ul {
  display: flex;
  gap: 12px;
  list-style: none;
  list-style-type: none;
}
header a:hover {
  font-weight: bold;
}

/* --head */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  margin-bottom: 30px;
}
.head .left {
  max-width: 465px;
}
.head h2 {
  font-size: 48px;
  padding-block: 21px;
}
.head p {
  font-size: 21px;
  padding-block: 21px;
}
.head button {
  border: none;
  background-color: #458ff6;
  color: white;
  border-radius: 55px;
  padding: 13px 19px;
  margin-top: 21px;
}

.header-dots {
  position: absolute;
  left: -0px;
  top: 130px;
}
