.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.service {
  max-width: 260px;
  min-height: 290px;
  padding: 40px 60px;
  background-color: white;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.service p {
  color: #7d7987;
  margin: 20px 0px;
}
.service h2 {
  margin: 20px 0px;
}
.service img {
  margin: 20px 0px;
}
#service-5 img {
  margin: 30px 0px;
}
.services-dots {
  position: absolute;
  left: 79.88%;
  right: 11.9%;
  top: 115.74%;
  z-index: -1;
}
