footer {
  padding: 0 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 70px;
}
.icons {
  display: flex;
  gap: 25px;
}
footer i {
  font-size: 35px;
}
footer p {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0 5px;
  }
}
