@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Heebo", sans-serif;
}
#info {
  display: flex;
  gap: 30px;
}
#info p {
  font-size: 18px;
}
