.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding-top: 110px;
}
h1 {
  font-size: 55px;
  max-width: 550px;
  color: #21243d;
}
p {
  font-size: 20px;
  max-width: 625px;
}
.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img {
  min-width: 300px;
}
button {
  background-color: #ff6464;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  font-weight: 500;
  transition: font-size 0.5s;
}
button:hover {
  cursor: pointer;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .header h1 {
    font-size: 35px;
  }
}
