ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  padding: 0px 60px;
}
li {
  font-weight: 500;
  font-size: 20px;
}
#burger {
  display: none;
}
@media screen and (max-width: 768px) {
  #burger {
    font-size: 45px;
    display: block;
  }
  ul {
    display: none;
  }
  nav {
    padding: 10px;
  }
  li {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.534);
  }
  .toggled {
    transform: rotate(90deg);
    transition: 0.3s;
  }
  .untoggled {
    transition: 0.3s;
  }
}
