.recent {
  background-color: #edf7fa;
  padding: 0px 375px;
}
.recent-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent-top a {
  color: #00a8cc;
  transition: font-weight 0.3s;
}
.recent-top h2 {
  font-weight: 400;
}
.recent-items {
  display: flex;
  gap: 25px;
}
.recent-item {
  background-color: white;
  margin-bottom: 30px;
  max-width: 400px;
  padding: 20px;
}
.recent-item h2 {
  margin: 5px 0px;
}
.recent-item p {
  font-size: 16px;
  max-width: 350px;
}
.recent-top a:hover {
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .recent-top a {
    display: none;
  }
  .recent-top h2 {
    text-align: center;
  }
  .recent-items {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .recent {
    padding: 10px 12px;
  }
}
