.works {
  padding: 0px 375px;
}
.works-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.works h3 {
  font-weight: 400;
}
.works-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0px;
}
.works-item h2 {
  font-size: 30px;
}
.works-item p {
  font-size: 17px;
}
.works-item #info p:first-child {
  background-color: #142850;
  color: white;
  font-weight: bolder;
  padding: 4px 9px;
  border-radius: 20px;
}
.works-item #info p:last-child {
  color: #8695a4;
  font-size: 20px;
}
@media all and (max-width: 768px) {
  .works {
    padding: 0px 5px;
  }
  .works-item {
    flex-direction: column;
  }
  .works-item h2 {
    font-size: 26px;
    margin: 5px 0px;
  }
  .works-item p {
    font-size: 14px;
  }
}
